.intro{
  color: white;
  margin-top:4rem;
  width: 54%;
  margin-left: 1rem;
  z-index:2;
  position:relative;
  h2{
    font-size: 3rem;
    margin-bottom: 0;
  }
  .tag{
    font-size:1rem;
    color:#6dcfff;
    margin-bottom:2rem;
  }
  .fa-chevron-down{
    color:white;
    font-size:2rem;
    padding-left:2rem;
    transition:all .3s ease-in-out;
    cursor:pointer;
    z-index:1;
    &:hover{
      transform:translateY(5px);
    }
  }
}
.profile-photo{
  &:after{
    content:"";
    display:block;
    clear:both;

  }
  img{
    width: 24rem;
    position: absolute;
    top: 110px;
    z-index: 1;
    right: 0;;

  }
}
@media(min-width:600px){
  .profile-photo{
    img{
      width:38rem;
    }
  }
  .intro{
    width:75%;
    h2{
      font-size:5rem;
    }
    .tag{
      font-size:2rem;
    }
    .fa-chevron-down{
      font-size:3rem;
      margin-left:7rem;
    }
  }

}
@media(min-width:800px){
  .intro{
  .fa-chevron-down{
    margin-left:19rem;
  }
}
}
