

nav {
  display:inline-block;
font-size: 1.3rem;
position: absolute;
    left: 52%;
    background: rgba(0,0,0,.5);
    width: 8rem;
    position:fixed;
    z-index:3;
a{
  text-decoration:none;
}

    li {
        color: white;
        list-style:none;
        margin-bottom:1rem;
        position:relative;
        margin-bottom:2rem;
        }
}
li  {
  position:relative;
  color:white;
  text-decoration:none;
}
li:hover{
  color:white;
}
li:before{
  content: "";
  position:absolute;
  width:100%;
  height:2px;
  bottom:0;
  left:0;
  background-color:white;
  visibility:hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
}
li:hover:before{
  visibility:visible;
  transform:scaleX(1);
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background: rgba(0,0,0,.3);
    border-top: 4px solid #007FC1;

    h2 {
        margin: 0;
        display:inline-block;
        padding-left:1rem;
    }
    .fa-bars{
      float: right;
    margin-top: -1.5rem;
    font-size: 1.4rem;
    margin-right: 1rem;
    position:fixed;
    left:85%;
    z-index:3;
    }
    .fa-times{
      float: right;
    margin-top: -1.5rem;
    font-size: 1.4rem;
    padding-right:1rem;
    }
}
